@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: whitesmoke;
  text-transform: uppercase;
  display: flex;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

.container {
  margin: auto;
}
.column img {
  display: block;
  margin: auto;
  margin-top: 10%;
}

br {
  margin-top: 0px;
}

.row {
  display: flex;
}

.column {
  /* float: left; */
  /* width: 50%;
  padding: 10px; */
  flex: 50%;
  text-align: center;
}

.header-box {
  border: solid 3px hsl(217, 16%, 45%);
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin-bottom: 10%;
}

.score-box {
  border-style: transparent;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 10px;
  padding: 10px 25px;
  color: hsl(217, 16%, 45%);
}

.score-box h2 {
  color: hsl(214, 47%, 23%);
  font-size: large;
}

.score-box span {
  color: hsl(217, 16%, 45%);
}

.actions {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.action-icon {
  border-radius: 80px;
  height: 160px;
  width: 160px;
  margin: 3%;
  /* justify-content: space-between; */
  /* margin: auto; */
}

.action-icon img {
  height: 80px;
  width: 80px;
}

/* #player-1-action {
  height: 100px;
  width: 100px;
  border-radius: 200px;
  background-color: whitesmoke;
}

#player-2-action {
  height: 100px;
  width: 100px;
  border-radius: 200px;
  background-color: whitesmoke;
} */

.rock {
  border-color: #db2d4e;
  border-width: 15px;
  border-style: solid;
}

.paper {
  border-color: hsl(230, 89%, 62%);
  border-width: 15px;
  border-style: solid;
}

.scissors {
  border-color: hsl(39, 89%, 49%);
  border-width: 15px;
  border-style: solid;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
